
/* colours

#172352
#C3CBEB
#3B59D1
#0D1B52
#2C439E
*/

body {
  background-color: #C3CBEB;
  margin: 0;
}

.nav-bar {
  background-color: #0D1D52;
  overflow: hidden;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.nav-bar h1 {
  font-family: 'Fredoka', sans-serif;
  color: #C3CBEB;
  font-weight: bold;
  display: inline;
}

.search-bar {
  float: right;
}

.nav-bar input {
  padding: 6px;
  border: none;
  margin-top: 8px;
  font-size: 17px;
  font-family: 'Hubballi', cursive;
}

.nav-bar button {
  color: #C3CBEB;
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #2C439E;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav-bar button:hover {
  background-color: #172352;
}

footer {
  font-family: 'Hubballi', cursive;
  color: #0D1B52;
  text-align: center;
  width: 100%;
  padding-bottom: 50px;
  padding-top: 100px;
}

.info-page {
  font-family: 'Hubballi', cursive;
  padding: 5rem;
  text-align: center;
  color: #0D1B52;
}

.info-page h1 {
  font-size: 4rem;
}

.info-page p{
  font-size: 2rem;
}

#weather-header {
  color: #0D1B52;
  display: block;
  font-family: 'Fredoka', sans-serif;
  font-size: 3rem;
  margin: auto;
  width: 90%;
  padding: 5rem 0 3rem;
}

.current-weather {
  background-color: #38498f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 90%;
  border: 3px none;
  padding: 10px;
  position: relative;
}

.current-weather img {
  margin: 0 3rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  float: left;
  width: 300px;
  height: 300px;
  border: 3px none;
  padding: 10px;
}

.current-weather p {
  color: #C3CBEB;
  font-family: 'Hubballi', cursive;
  font-size: 2rem;
  padding: 1px;
  padding-left: 22rem;
}

.card-group {
  margin: auto;
  width: 90%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card {
  background-color: #d5deff;
  color: #38498f
}

.card-body {
  font-family: 'Hubballi',
  cursive;
  padding: 0 10px;
  margin-bottom: 2rem;
}

.card-body h5{
  font-weight: bold;
  font-size: 2rem;
}

.card-body p {
  font-size: 1.1rem;
  margin: 0;
}